# Node.js
node_modules/

# Dist folder
/dist/

# Logs
logs/**
*.log
npm-debug.log*  

# Dependency directories
jspm_packages/

# Build outputs
/build/

# IDEs and editors
.vscode/
.idea/

# Environment variables
dotenv
.env

# Other
.DS_Store
Thumbs.db
